<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    {% if config.generate_feeds %}<link rel="alternate" type="application/atom+xml" href="{{ get_url(path='atom.xml') }}" title="{{ config.title }} feed">{% endif %}
  </head>
  <body>
    <header>
      <a href="{{ get_url(path='') }}">{{ config.title }}</a>
      <nav aria-label="Main navigation">
        <a href="{{ get_url(path='blog') }}">Blog</a>
        <a href="https://github.com/LayerZero-Labs/jolt-qed">Source code</a>
      </nav>
    </header>
    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
